

  
  p {
    font-family: verdana;
    font-size: 20px;
  }

  #page {
    display: grid;
    width: 100%;
    height: 250px;
    grid-template-areas:
      "head"
      "nav"
      "main"
      "foot";
    grid-template-rows: 80px 1fr;
    grid-template-columns: 37% 1fr;
  }

  #page > head {
    grid-area: head;
    display: block;
  }
  #page > main {
    grid-area: head;
    display: block;
    font-size: 250%;
  }

  #page > nav {
    grid-area: nav;
    display: block;
  }
  .h1{
    font-size: 250%;
  }
  
  
  div:hover {
    width: 300px;
  }
  
  #page > footer {
    grid-area: foot;
    background-color: #8cffa0;
    font-display: text;
    text-align: center;
    size: 10cm;
    background-color: white;
    color: black;
    border: 50 solid;
   -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    font: size 30px;
  }

.font{
  font-family: "Sofia", sans-serif;
  font-size: 30px;
}
  
.third{
  font-size: medium;
  color: black;
}

@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");

h1 {
  font-size: calc(20px + 18vh);
  line-height: calc(20px + 20vh);
/*   text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
    0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
  color: #fccaff; */
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  font-family: "Sacramento", cursive;
  text-align: center;
  animation: blink 4s infinite;
  -webkit-animation: blink 4s infinite;
}

body {
  padding: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #222;
  background-image: repeating-linear-gradient(
    to bottom,
    transparent 7px,
    rgba(0, 0, 0, 0.8) 9px,
    rgba(0, 0, 0, 0.8) 13px,
    transparent 13px
  );
}

@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
/*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
/*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}

.animation{
  width: 100%;
  height: 100%;
  background-color: red;
  animation-name: example;
  animation-duration: 4s;
  animation-fill-mode:both;
  animation-iteration-count: infinite; 
}
@keyframes example {
  0%
    {
        background-color: red;
        height:100%;
        border: 50%;
    }
    25%
    {
        background-color: yellow;
        height:100%;
        border: 50%;
    }
    50%
    {
        background-color: blue;
        height:100%;
        border: 50%;
    }
    75%
    {
        background-color: green;
        height:100%;
        border: 50%;
    }
    100%
    {
        background-color: red;
        height:100%;
        border: 50%;
    }
}